<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 开启驼峰命名转换 user_id ==> userId -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 打印sql语句 -->
		<!-- <setting name="logImpl" value="STDOUT_LOGGING"/> -->
	</settings>
</configuration>  